header {
  padding: 60px;
	background-color: #E1EEDD;
  border-radius: 25px 25px 0 0;
	border: 5px solid #183A1D;
  }

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

  .image:hover {
    transform: translate3D(0,-1px,0) scale(1.1);
  }

h1{
	font-size:100px ;
	text-align: center;
	color: #183A1D;
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-right: 1em;
}

ul a {
  margin-right: 20px;
  text-decoration: none;
	padding:3px;
	text-decoration:none;
	background-color:#FEFBE9;
	color:#183A1D;
	border-radius: 50%;
}

ul a:hover {
	background-color:#183A1D;
	color:#FEFBE9;
}

h2 {
	color:#183A1D;
	text-align: center;
}

.card {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  float: left;
  width: 25%;
  /*width: 200px;
  height: 200px;
  background-color: #ccc;
  margin: 10px;
  display: inline-block;
  vertical-align: top;*/
}

footer {
  display: flex;
  justify-content: center;
  background-color: #183A1D;
  color:#FEFBE9;
  text-align: center;
  padding: 10px 0;
  list-style: none;
}

footer ul {
  display: flex;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  header {
		width: 100%
	}
	.image {
	  display: none;
	}
  ul li {
    flex-direction: column;
    align-items: flex-start;
  }
  ul a {
    margin-right: 0;
    margin-bottom: 10px;
  }
  }

@media screen and (max-width: 968px) {
	header {
		width: 100%
	}
	.image {
	  display: none;
	}
}